/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.bg-violet {
  background-color: #5a4a68 !important;
}

/* line 7, ../sass/partials/_modules.scss */
.border-blue {
  border-color: #244461 !important;
}
/* line 10, ../sass/partials/_modules.scss */
.border-violet {
  border-color: #5a4a68 !important;
}

/* line 15, ../sass/partials/_modules.scss */
.h-100vh {
  height: 100vh;
}

/* line 21, ../sass/partials/_modules.scss */
.hover-underline:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* line 28, ../sass/partials/_modules.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 31, ../sass/partials/_modules.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 34, ../sass/partials/_modules.scss */
.index-s4 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s4_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 37, ../sass/partials/_modules.scss */
.index-s6 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s6_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 40, ../sass/partials/_modules.scss */
.index-s8 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s8_bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 43, ../sass/partials/_modules.scss */
.index-s9 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s9_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 46, ../sass/partials/_modules.scss */
.index-s10 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s10_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 51, ../sass/partials/_modules.scss */
.maxh-600 {
  max-height: 600px;
}

/* line 56, ../sass/partials/_modules.scss */
.text-blue {
  color: #244461 !important;
}
/* line 59, ../sass/partials/_modules.scss */
.text-violet {
  color: #5a4a68 !important;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
