.bg{
    &-violet{
        background-color: $color__violet!important;
    }
}
.border{
    &-blue{
        border-color: $color__blue!important;
    }
    &-violet{
        border-color: $color__violet!important;
    }
}
.h{
    &-100vh{
        height: 100vh;
    }
}
.hover{
    &-underline{
        &:hover{
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}
.index{
    &-s1{        
        @include set-background($bg__index-s1-img,0,"center","cover","scroll");
    }
    &-s3{        
        @include set-background($bg__index-s3-img,0,"center","cover","scroll");
    }
    &-s4{        
        @include set-background($bg__index-s4-img,0,"center","cover","scroll");
    }
    &-s6{        
        @include set-background($bg__index-s6-img,0,"center","cover","scroll");
    }
    &-s8{        
        @include set-background($bg__index-s8-img,0,"top right","cover","scroll");
    }
    &-s9{        
        @include set-background($bg__index-s9-img,0,"center","cover","scroll");
    }
    &-s10{        
        @include set-background($bg__index-s10-img,0,"center","cover","scroll");
    }
}
.maxh{
    &-600{
        max-height: 600px;
    }
}
.text{
    &-blue{
        color: $color__blue!important;
    }
    &-violet{
        color: $color__violet!important;
    }
}