$bg__classes:
    "error",
    "comingsoon",
    "privacy";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-s1-img: "../img/index/index-s1_bg.jpg";
$bg__index-s3-img: "../img/index/index-s3_bg.jpg";
$bg__index-s4-img: "../img/index/index-s4_bg.jpg";
$bg__index-s6-img: "../img/index/index-s6_bg.jpg";
$bg__index-s8-img: "../img/index/index-s8_bg.jpg";
$bg__index-s9-img: "../img/index/index-s9_bg.jpg";
$bg__index-s10-img: "../img/index/index-s10_bg.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__aoa:
    $bg__error-img,
    $bg__comingsoon-img,
    $bg__privacy-img;
$color__blue: #244461;
$color__shadow: #333;
$color__violet:#5a4a68;
$text-shadow: 1px 1px 3px $color__shadow; 